@import "tailwindcss";
@import "@heroui/styles";

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(29.22% 0.0156 18.08);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0000 18.08);
  --border: oklch(90.00% 0.0000 18.08);
  --danger: oklch(65.32% 0.2328 357.45);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0000 18.08);
  --default-foreground: oklch(21.03% 0.0059 18.08);
  --field-background: oklch(100.00% 0.0000 18.08);
  --field-foreground: oklch(21.03% 0.0000 18.08);
  --field-placeholder: oklch(55.17% 0.0000 18.08);
  --focus: oklch(29.22% 0.0156 18.08);
  --foreground: oklch(21.03% 0.0000 18.08);
  --muted: oklch(55.17% 0.0000 18.08);
  --overlay: oklch(100.00% 0.0000 18.08);
  --overlay-foreground: oklch(21.03% 0.0000 18.08);
  --scrollbar: oklch(87.10% 0.0000 18.08);
  --segment: oklch(100.00% 0.0000 18.08);
  --segment-foreground: oklch(21.03% 0.0000 18.08);
  --separator: oklch(92.00% 0.0000 18.08);
  --success: oklch(73.29% 0.1935 122.52);
  --success-foreground: oklch(21.03% 0.0059 122.52);
  --surface: oklch(100.00% 0.0000 18.08);
  --surface-foreground: oklch(21.03% 0.0000 18.08);
  --surface-secondary: oklch(95.24% 0.0000 18.08);
  --surface-secondary-foreground: oklch(21.03% 0.0000 18.08);
  --surface-tertiary: oklch(93.73% 0.0000 18.08);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 18.08);
  --warning: oklch(78.19% 0.1585 44.04);
  --warning-foreground: oklch(21.03% 0.0059 44.04);

  /* Border Radius */
  --radius: 0.24rem;
  --field-radius: 0.24rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(29.22% 0.0156 18.08);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0000 18.08);
  --border: oklch(28.00% 0.0000 18.08);
  --danger: oklch(59.40% 0.1967 356.34);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 18.08);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 18.08);
  --field-foreground: oklch(99.11% 0.0000 18.08);
  --field-placeholder: oklch(70.50% 0.0000 18.08);
  --focus: oklch(29.22% 0.0156 18.08);
  --foreground: oklch(99.11% 0.0000 18.08);
  --muted: oklch(70.50% 0.0000 18.08);
  --overlay: oklch(21.03% 0.0000 18.08);
  --overlay-foreground: oklch(99.11% 0.0000 18.08);
  --scrollbar: oklch(70.50% 0.0000 18.08);
  --segment: oklch(39.64% 0.0000 18.08);
  --segment-foreground: oklch(99.11% 0.0000 18.08);
  --separator: oklch(25.00% 0.0000 18.08);
  --success: oklch(73.29% 0.1935 122.52);
  --success-foreground: oklch(21.03% 0.0059 122.52);
  --surface: oklch(21.03% 0.0000 18.08);
  --surface-foreground: oklch(99.11% 0.0000 18.08);
  --surface-secondary: oklch(25.70% 0.0000 18.08);
  --surface-secondary-foreground: oklch(99.11% 0.0000 18.08);
  --surface-tertiary: oklch(27.21% 0.0000 18.08);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 18.08);
  --warning: oklch(82.03% 0.1388 48.05);
  --warning-foreground: oklch(21.03% 0.0059 48.05);
}
